{{template "base/head" .}}
<div class="page-content repository commits">
	{{template "repo/header" .}}
	<div class="ui container">
		<iframe style="max-width: 100% !important;
        width: auto !important;
        height: auto !important;"
						src="https://course.contravariant.net/embed/points"
		>
		</iframe>
	</div>
</div>
{{template "base/footer" .}}
