{{template "base/head" .}}
<div class="page-content user settings courses">
	{{template "user/settings/navbar" .}}
	<div class="sixteen wide aligned column">
		<div class="sixteen wide aligned column">
			<iframe style="border: 0; overflow: hidden; width: 100%;  height: 450px" scrolling="no"
							src="https://course.contravariant.net/embed/join"></iframe>
		</div>
	</div>
</div>
{{template "base/footer" .}}
