{{template "base/head" .}}
<div class="page-content user link-account">
	{{/*<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="{{StaticUrlPrefix}}/img/logo.svg"/>
			</div>
			<div class="hero">
				<h1>It looks like you haven't joined any course yet! You might want to have a look at all the available
					courses.</h1>
				<h2>Hint: courses can be found in the navigation bar.</h2>
			</div>
		</div>
	</div>*/}}
	<style>
		.iframe-container {
			overflow: hidden;
			/* 16:9 aspect ratio */
			padding-top: 56.25%;
			position: relative;
		}

		.iframe-container iframe {
			border: 0;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	</style>
	<div class="iframe-container">
		<iframe scrolling="no" src="https://course.contravariant.net/embed"></iframe>
	</div>
	<div class="ui green basic inverted button">
		<i class="remove icon"></i>
		Continue
	</div>
	{{/*<div class="ui secondary pointing tabular top attached borderless menu new-menu navbar">
		<div class="new-menu-inner">
			<!-- TODO handle .ShowRegistrationButton once other login bugs are fixed -->
			<a class="item {{if not .user_exists}}active{{end}}"
				data-tab="auth-link-signup-tab">
				{{.i18n.Tr "auth.oauth_signup_tab"}}
			</a>
			<a class="item {{if .user_exists}}active{{end}}"
				data-tab="auth-link-signin-tab">
				{{.i18n.Tr "auth.oauth_signin_tab"}}
			</a>
		</div>

		<div class="ui middle very relaxed page grid">
			<div class="column">
				<div class="ui tab {{if not .user_exists}}active{{end}}"
					data-tab="auth-link-signup-tab">
					{{template "user/auth/signup_inner" .}}
				</div>
				<div class="ui tab {{if .user_exists}}active{{end}}"
					data-tab="auth-link-signin-tab">
					<div class="ui user signin container icon">
						{{template "user/auth/signin_inner" .}}
					</div>
				</div>
			</div>
		</div>
	</div>*/}}
</div>

{{template "base/footer" .}}
